<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
    <!-- paste maven package feed credentials section here !-->
        <server>
            <id>azureartifact</id>
            <username>shivanshaarna12</username>
            <password>yl4luwjppphovmtnrlommvlqeseh2unzbh6wd6g6jod44svfzjzq</password>
        </server>
    </servers>
</settings>